
body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: 100;
}

.hidden {
  display: none;
}

a {
  color: #06f;
  cursor: pointer;
  text-decoration: none;
}

.cardnumbers {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

.cardnumbers td {
  padding: 6px;
  border-bottom: 1pt solid #33b964;
}

.cardnumbers table{
  width: 100%; 
}

.cardnumbers td:second-child {
  width: 300px; 
}
.cardnumbers tr:nth-child(even){background-color: white;}

.cardnumbers tr:hover {background-color: #ddd;}

.sectionTitle {
  padding-left: 5px;
} 

.fav-icon {
  width: 15px;
  height: 15px;
  background-image: url('./images/empty-start.png'); 
  background-size: cover; /* Adjust the image size to fit the container */
  transition: background-image 0.2s; /* Add a smooth transition effect for background image */
  cursor: pointer;
}

.fav-icon:hover {
  background-image: url('./images/yellow-star.png'); 
}

.unfav-icon {
  width: 15px;
  height: 15px;
  background-image: url('./images/yellow-star.png'); 
  background-size: cover; /* Adjust the image size to fit the container */
  transition: background-image 0.2s; /* Add a smooth transition effect for background image */
  cursor: pointer;
}

.unfav-icon:hover {
  background-image: url('./images/empty-start.png'); 
}
